title MKB Almelo &middot; Voor en door ondernemers
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='shortcut icon', href='images/favicon.ico')

//- Bootstrap and Font Awesome
link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet', href='vendor/fontawesome/css/font-awesome.min.css')

//- Legacy IE HTML5 support
<!--[if lt IE 9]>
script(scr='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
<![endif]-->

//- Custom styling
link(rel='stylesheet' href='styles/main.min.css')
