//- Navbar
div.navbar-wrapper
  div.container
     div.navbar.navbar-static-top(role='navigation')
      div.container
        div.navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html')
        div.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='index.html') Home
            li
              a(href='agenda.html') Agenda
            li
              a(href='newsletter.html') Nieuwsbrief
            li
              a(href='#', data-toggle='modal' data-target='#contactModal') Contact

div#contactModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='contactModalLabel', aria-hidden='true')
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h4#contactModalLabel.modal-title Contactgegevens
      div.modal-body Wierdensestraat 24<br>7607 GJ Almelo<br>m. 06-20988147<br>Email: info@mkbalmelo.nl
