//- Navbar
div.navbar-wrapper
  div.container
     div.navbar.navbar-static-top(role='navigation')
      div.container
        div.navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html')
        div.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='index.html') Home
            li
              a(href='agenda.html') Agenda
            li
              a(href='newsletter.html') Nieuwsbrief
