doctype html
html(lang='en')
  head
    include partials/head.jade
  body

    include partials/nav.jade

    div.container.newsletter
      div.row
        div.col-lg-6.col-lg-offset-3
          h2 Bestuursvergaderingen 2014
          table.table.table-striped.table-hover
            tbody
              - var dates = ['06-01','03-02','03-03','07-04','05-05','02-06','04-08','08-09','06-10','03-11']
              each val in dates
                tr
                  td= val
      hr.featurette-divider

      include partials/footer.jade

    include partials/afterimports.jade
