doctype html
html(lang='en')
  head
    include partials/head.jade
  body

    include partials/nav.jade

    div.container.newsletter
      div.row
        div.col-lg-6.col-lg-offset-3
          h2 Bestuursvergaderingen 2014
          table.table.table-striped.table-hover
            tbody
              each val in locals.dates
                tr
                  td= val
      hr.featurette-divider

      include partials/footer.jade

    include partials/afterimports.jade
