doctype html
html(lang='en')
  head
    include partials/head.jade
  body

    include partials/nav.jade

    div.container.newsletter
      div.row
        div.col-lg-6.col-lg-offset-3
          h2 Bestuursvergaderingen 2014
          table.table.table-striped.table-hover
            tbody
              tr
                td 06-01
              tr
                td 03-02
              tr
                td 03-03
              tr
                td 07-04
              tr
                td 05-05
              tr
                td 02-06
              tr
                td 04-08
              tr
                td 08-09
              tr
                td 06-10
              tr
                td 03-11
      hr.featurette-divider

      include partials/footer.jade

    include partials/afterimports.jade
