doctype html
html(lang='en')
  head
    include partials/head.jade
  body

    include partials/nav.jade

    div.container.newsletter
      div.row
        div.col-lg-6.col-lg-offset-3
          h2 Nieuwsbrieven
          table.table.table-striped.table-hover
            tbody
              tr
                td MKB Nieuwsbrief - Jaargang 2 - Uitgave 11
                td
                  a(href='#')
                    span.glyphicon.glyphicon-download
              tr
                td MKB Nieuwsbrief - Jaargang 2 - Uitgave 10
                td
                  a(href='#')
                    span.glyphicon.glyphicon-download
              tr
                td MKB Nieuwsbrief - Jaargang 2 - Uitgave 9
                td
                  a(href='#')
                    span.glyphicon.glyphicon-download
              tr
                td Nieuwsbrief MKB Almelo - Jaargang 1 uitgave 6
                td
                  a(href='#')
                    span.glyphicon.glyphicon-download
              tr
                td Nieuwsbrief MKB Almelo - Jaargang 1 uitgave 5
                td
                  a(href='#')
                    span.glyphicon.glyphicon-download
              tr
                td Nieuwsbrief MKB Almelo - Jaargang 1 uitgave 4
                td
                  a(href='#')
                    span.glyphicon.glyphicon-download
      hr.featurette-divider

      include partials/footer.jade

    include partials/afterimports.jade
