doctype html
html(lang='en')
  head
    include partials/head.jade
  body

    include partials/nav.jade

    div.container.newsletter
      div.row
        div.col-lg-6.col-lg-offset-3
          h2 Nieuwsbrieven
          table.table.table-striped.table-hover
            tbody
              - var newsletters = {'MKB Nieuwsbrief - Jaargang 2 - Uitgave 11':'#', 'MKB Nieuwsbrief - Jaargang 2 - Uitgave 10':'#', 'MKB Nieuwsbrief - Jaargang 2 - Uitgave 9':'#', 'Nieuwsbrief MKB Almelo - Jaargang 1 uitgave 6':'#', 'Nieuwsbrief MKB Almelo - Jaargang 1 uitgave 5':'#', 'Nieuwsbrief MKB Almelo - Jaargang 1 uitgave 4':'#'}
              each val, key in newsletters
                tr
                  td= key
                  td
                    a(href=val)
                      span.glyphicon.glyphicon-download
      hr.featurette-divider

      include partials/footer.jade

    include partials/afterimports.jade
