doctype html
html(lang='en')
  head
    include partials/head.jade
  body

    include partials/nav.jade

    div.container.newsletter
      div.row
        div.col-lg-6.col-lg-offset-3
          h2 Nieuwsbrieven
          table.table.table-striped.table-hover
            tbody
              each val, key in locals.newsletters
                tr
                  td= key
                  td
                    a(href=val)
                      span.glyphicon.glyphicon-download(title='Download ' + key)
      hr.featurette-divider

      include partials/footer.jade

    include partials/afterimports.jade
